  <% if session[:user] != nil %>
  <%  @pr = @posts.sort.reverse %>
    <% @pr[0..20].each do |p| %>
          <% post_user = User.find_by(id: p.user_id) %>
  <div class="post" id="<%= p.id %>">
    <div>
      <h2><%= p.title %>
<% if session[:user].id == post_user.id %>
(your post)
<% end %>
      </h2>
    </div>
    <% if p.image_url != "" %>
      <% @height = 400 %>
      <% else %>
        <% @height = 0 %><% end %>
        <div style="background-image: url('<%= p.image_url %>'); height: <%= @height %>px;"></div>
        <div>
          <p>
            <%= p.body %></p>
        </div>
        <div>
          Posted by:
            <a href="users/<%= post_user.id %>"><img class="avatar" src="<%= post_user.avatar_url %>"  onerror='this.src="images/gen.png"'>
            <%= post_user.username %></a>
            at
            <%= p.created_at %>
          </div>
          <div>
            <% if post_user.id != session[:user].id %>
            <form style="display: inline;" class="like" action="/" method="post">
              <input type="hidden" name="id" value="<%= p.id %>">
              <input type="submit" onclick="hide()" value="I love this">
        <i class="fas fa-heart"></i> <%= p.likes %>
        <a href="posts/<%= p.id %>">Permalink</a>
            </form>
            <% else %>
            <i class="fas fa-heart"></i> <%= p.likes %> <a href="posts/<%= p.id %>">Permalink</a>
            <% end %>

          </div>
        </div>
        <script>
        var x = <%= @posts.sort.reverse.first.id %>;
        </script>
      <% end %>
<% else %>
<div class="biglogo"><h1 class="pagetitle">Postpile</h1>
  <p class="shadow">
<a href="/login">Log in</a> or <a href="/signup">create a new account</a> to see more great posts!
</p></div>
  <marquee style="width: 100%;">
    <div class="marquee">
    <%  @pr = @posts.sort.reverse %>
<% @pr[0..20].each do |p| %>
    <% if p.image_url != "" %>
  <img class="inmarquee" src='<%= p.image_url %>' onerror='this.src="http://i65.tinypic.com/28txgzr.jpg"'>
    <% end %>

  <% end %>
</marquee></div>
<% end %>
