<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PostPile</title>
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300|Hammersmith+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16"/>

  </head>
  <body>
    <%  followed = 0 %>
      <% this_user = User.find_by(id: @id) %>
        <% if session[:user] != nil %>
          <% if session[:user].id != this_user.id %>
            <% @follows.each do |f| %>
              <% if session[:user].id.to_s == f.follower_id && @id.to_s == f.followed_id %>
                <% followed = 1 %>

              <% end %>
                <% end %>
              <% end %>
              <% if followed == 1 %>
                <div class="accountinfo"><h2>You follow this user</h2></div>
                <% else %>
                  <div class="accountinfo">
                    <form class="" action="/users/<%= @id %>/follow" method="post">
                      <input type="submit" value="Follow this user">
                    </form>
                  </div>
                <% end %>
                <div class="titlebox">
                  <h2>
                    <%= this_user.username %>'s posts</h2>
                </div>
                <%  @pr = @posts.sort.reverse %>
                  <% @pr[0..20].each do |p| %>

                    <% if @id == p.user_id %>
                      <div class="post" id="<%= p.id %>">
                        <div>
                          <h2><%= p.title %>
                            <% if session[:user].id == this_user.id %>
                              (your post)
                            <% end %>
                          </h2>
                        </div>
                        <% if p.image_url != "" %>
                          <% @height = 400 %>
                          <% else %>
                            <% @height = 0 %><% end %>
                            <div style="background-image: url('<%= p.image_url %>'); height: <%= @height %>px;"></div>
                            <div>
                              <p>
                                <%= p.body %></p>
                            </div>
                            <div>
                              Posted by:
                              <img class="avatar" src="<%= this_user.avatar_url %>" onerror='this.src="../images/gen.png"'>
                              <%= this_user.username %>
                              at
                              <%= p.created_at %>
                            </div>
                            <div>
                              <% if p.user_id.to_i != session[:user].id.to_i %>
                              <form style="display: inline;" class="like" action="/" method="post">
                                <input type="hidden" name="id" value="<%= p.id %>">
                                <input type="submit" onclick="hide()" value="I love this">
                                <span class ="likesComments">
                                  <i class="fas fa-heart"></i>
                                  <%= p.likes %> loves -
                                  <% numComments = 0 %>
                                  <% @comments.each do |c| %>
                                    <% if c.post_id == p.id %>
                                    <% numComments += 1 %>
                                    <% end %>
                                  <% end %>
                                  <%= numComments %> comments -
                                      <a class="permalink" href="../posts/<%= p.id %>">Permalink & Comments</a>
                                </p>
                              </form>
                              <% else %>
                              <p class ="likesComments">
                                <i class="fas fa-heart"></i>
                                <%= p.likes %> loves -
                                <% numComments = 0 %>
                                <% @comments.each do |c| %>
                                  <% if c.post_id == p.id %>
                                  <% numComments += 1 %>
                                  <% end %>
                                <% end %>
                                <%= numComments %> comments -
                                    <a class="permalink" href="../posts/<%= p.id %>">Permalink & Comments</a>
                              </p>
                              <% end %>

                            </div>
                          </div>
                          <script>
                            var x = <%= @posts.reverse.first.id %>;
                          </script>
                        <% end %>
                      <% end %>
                    <% else %>
                      You need to be logged in to view this post.
                    <% end %>
                  </body>
                </html>
